@model dynamic

@{
    ViewBag.Title = "Console d'administration";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="text-center">Console d'administration</h2>
    <div class="list-group mt-4">
        <div class="d-flex justify-content-center">
            <a asp-controller="Admin" asp-action="Users" class="list-group-item list-group-item-action text-center mt-2 w-75">
                Gestion des utilisateurs
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-controller="Admin" asp-action="Artists" class="list-group-item list-group-item-action text-center mt-2 w-75">
                Gestion des artistes
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-controller="Admin" asp-action="Meals" class="list-group-item list-group-item-action text-center mt-2 w-75">
                Gestion des repas
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-controller="Admin" asp-action="RoomInfo" class="list-group-item list-group-item-action text-center mt-2 w-75">
                Gestion des infos de la salle
            </a>
            </div>
    </div>
</div>
