<!-- _Footer.cshtml -->

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center"> 
                <div>
                    <span class="privacy">&copy; 2024 - www.ranchdubonheur.fr - <a asp-area="" asp-controller="Home" asp-action="Privacy">Confidentialité</a></span>
                </div>
                <div>
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
