@{
    ViewData["Title"] = "Accueil";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Bienvenue au Ranch de Nivelle</h1>
        <h2>Où le bonheur se savoure à la bonne heure</h2>
    </div>
    <div class="row mt-3 align-items-center">
        <div class="col-md-6">
            <img src="~/images/home/PHOTO-LA-LOUVIERE-FRANCIS-FROISART.jpg" alt="Francis Froissart en spectacle" class="img-fluid my-4 home-img">
        </div>
        <div class="col-md-6">
            <p class="justified-text">Dirigé avec passion par Francis Froissart, personnage haut en couleur, depuis plus de 50 ans, Le Ranch du Bonheur est votre destination idéale pour des dimanches après-midi animés. Découvrez notre cuisine française traditionnelle, célèbre pour sa fraîcheur et son authenticité.</p>
        </div>
    </div>
</div>
<div class="row mt-4 align-items-center">
    <div class="col-md-6">
        <p class="justified-text">Rejoignez-nous chaque dimanche pour des repas dansants animés par une variété de chanteurs et d'artistes en tout genre, créant une atmosphère vibrante et festive, parfaite pour décompresser et profiter d'un moment agréable.</p>
        <p class="justified-text">Le Ranch du Bonheur est également un cadre parfait pour organiser votre mariage ou tout autre événement spécial. Laissez Francis et son équipe faire de votre célébration une expérience mémorable.</p>
    </div>
    <div class="col-md-6">
        <img src="~/images/home/resized_RanchDuBonheur.jpg" alt="Le Ranch de Nivelle" class="img-fluid my-4 home-img">
    </div>
</div>

<div class="text-center mt-4">
    <div class="info-text">Pour tout renseignement et réservation, appelez le</div>
    <p class="phone-number"><a href="tel:+33642858026">06 42 85 80 26</a></p>
</div>
