@page
@model RegisterModel
@{
    ViewData["Title"] = "404 - Not Found";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    
        
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
