@model dynamic

@{
    ViewBag.Title = "Location de salle - Repas de mariage - Tout évènement";
    Layout = "_Layout";
}

<div class="container text-center">
    <h1 class="my-4">La Salle</h1>
</div>
