/* Base Layout Styles */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #FFF1D6;
    color: #593815;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;
    padding-top: 100px;
}

/* Navbar Styles */
header, .navbar {
    background-color: #8B572A;
    color: #F7F6D5;
}

.navbar-brand img {
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    opacity: 0.85;
}

    .navbar-brand img:hover {
        filter: brightness(110%);
        opacity: 1;
    }

.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    background: rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #593815;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

    .navbar .nav-link:hover, .nav-link:focus {
        color: #FFF1D6;
        background-color: rgba(255, 241, 214, 0.5);
        padding: 5px 10px;
        border-radius: 5px;
    }

    .navbar .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #593815;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    .navbar .nav-link:hover::after {
        transform: scaleX(1);
    }

/* Button Styles */
.btn-primary {
    background-color: #593815;
    color: #FFF1D6;
    border-color: #452a0f;
}

    .btn-primary:hover {
        background-color: #452a0f;
        color: #c9b39c;
        border-color: #4e3112;
    }

.btn-secondary {
    background-color: #28A745;
    border-color: #28A745;
}

    .btn-secondary:hover {
        background-color: #21783A;
        border-color: #1A622E;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Footer Styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #8B572A;
    color: #F7F6D5;
}

footer .bi, footer .bi:hover, footer .bi:focus, footer .bi:active {
    color: black;
    background-color: transparent;
    box-shadow: none;
    transition: none;
}

    footer .bi:active {
        transform: none;
    }

.privacy, .privacy a {
    color: black;
    text-decoration: none;
}

.home-img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: block; 
    margin: 0 auto; 
}

.info-text {
    font-size: 1.25rem;
}

.phone-number {
    font-size: 1.5rem;
    margin-top: 5px;
}

    .phone-number a {
        text-decoration: none;
        color: inherit;
    }

.justified-text {
    text-align: justify;
    text-indent: 60px; 
}

.cards-color {
    background-color: #F0E4C7;
}

.text-card-color {
    color: #593815;
}

.card:hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card.no-hover-effect:hover {
    transform: none;
    box-shadow: none;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

@media (max-width: 765px) {
    .card-img-top {
        height: auto; /* Allow image to retain its original height */
    }
}


.toast {
    background-color: #F0E4C7; /* Fond clair */
    color: #593815; /* Texte marron */
    border-left: 5px solid #8B572A; /* Bordure gauche épaisse et foncée */
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Ombre similaire à celle des cartes */
    opacity: 0.95;
}

.toast-header {
    background-color: #8B572A; /* Arrière-plan marron pour l'entête */
    color: #F7F6D5; /* Texte crème */
    border-bottom: 1px solid #593815; /* Séparation */
    font-family: 'Playfair Display', serif; /* Police pour les titres */
}

.toast-body {
    background-color: #FFF1D6; /* Fond très clair */
    padding: 10px; /* Espacement interne */
}

.btn-close {
    filter: brightness(0) invert(1); /* Inverse les couleurs pour le bouton de fermeture */
}

.toast .btn-close:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Styles globaux pour les modaux */
.modal-content {
    background-color: #F0E4C7; /* Couleur de fond pour tous les modaux */
    color: #593815; /* Couleur de texte pour tous les modaux */
}

.modal-header, .modal-footer {
    background-color: #8B572A;
    color: #F7F6D5;
}

    .modal-header .btn-close {
        filter: brightness(0) invert(1); /* Assure que le bouton de fermeture est visible */
    }

.modal-title {
    color: #F7F6D5;
}

.modal-body {
    color: #593815; /* Assure que le texte dans le corps du modal est visible et cohérent */
}

.modal-footer .btn-primary {
    background-color: #593815;
    color: #FFF1D6;
    border-color: #452a0f;
}

    .modal-footer .btn-primary:hover {
        background-color: #452a0f;
        color: #c9b39c;
    }

.modal-footer .btn-secondary {
    background-color: #28A745;
    border-color: #28A745;
}

    .modal-footer .btn-secondary:hover {
        background-color: #21783A;
        border-color: #1A622E;
    }

.modal-footer .btn {
    border-radius: 0; /* Style optionnel pour donner aux boutons un look plus net */
}
