name: CI/CD RanchDuBonheur

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3

    - name: Configurer Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Construire l'image Docker
      run: docker build -t ranchdubonheur:latest .

    - name: Sauvegarder l'image Docker dans un fichier tar
      run: docker save -o ranchdubonheur.tar ranchdubonheur:latest

    - name: Définir les permissions sur le fichier tar
      run: chmod 777 ranchdubonheur.tar
    
    - name: Installer rsync
      run: sudo apt-get update && sudo apt-get install -y rsync

    - name: Synchroniser les fichiers avec le serveur
      run: |
        sshpass -p "${{ secrets.VPS_PASSWORD }}" rsync -avz \
          --exclude '.git' \
          --exclude 'ranchdubonheur.tar' \
          --delete \
          ./* "${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST }}:/tmp/ranchdubonheur/" 

    - name: SSH dans le VPS et déployer
      env:
        SSHPASS: ${{ secrets.VPS_PASSWORD }}
      run: |
        sshpass -e ssh -o StrictHostKeyChecking=no "${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST }}" << EOF
        cd /tmp

        # Remove existing image and container
        docker rmi ranchdubonheur:latest -f
        docker rm ranchdubonheur -f

        # Load the new image
        docker load -i ranchdubonheur.tar

        # Déployer l'application
        cd /tmp/ranchdubonheur

        # Set environment variables (for database connection, etc.)
        export DEFAULT_USERNAME=${{ secrets.DEFAULT_USERNAME }}
        export DEFAULT_EMAIL=${{ secrets.DEFAULT_EMAIL }}
        export DEFAULT_PASSWORD=${{ secrets.DEFAULT_PASSWORD }}
        export SA_PASSWORD=${{ secrets.SA_PASSWORD }}

        # Update to the latest images and rebuild/recreate containers
        docker-compose pull
        docker-compose up -d --build
        EOF
